@font-face {
  font-family: Epilogue;
  font-weight: 100 1000;
  src: url('../../assets/fonts/Epilogue-VariableFont_wght.ttf');
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #052727;
  font-family: Epilogue , sans-serif;
}

.form-preview {
  background-color: white;
  box-shadow: 0 4px 19px 0 rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: space-between;
  max-width: 1124px;
  min-width: 310px;
  padding: 41px 100px;
  text-align: center;
  width: 100%;
}

.addNewCard {
  width: 100%;
}

@media ( max-width : 425px ) {

  .form-preview {
    flex-direction: column;
    justify-content: center;
    padding: 100px 10px;
  }
}

.fullCards {
  height: fit-content;
  min-height: 400px;
}
